@font-face {
    font-family: 'AppleFont';
    src: url('/fonts/AppleFont.woff2') format('woff2'),
         url('/fonts/AppleFont.woff') format('woff'),  
         url('/fonts/AppleFont.ttf') format('truetype');
}

body {
    font-family: 'AppleFont', Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: aliceblue !important;
}

main {
    flex: 1; 
    padding: 20px;
    padding-top: 60px; 
}


header {
    background-color: aliceblue !important;
    color: #000;
    text-align: center;
    padding: 20px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

main {
    flex: 1; 
    padding: 20px;
}

footer {
    background-color: aliceblue !important;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    color: #333;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

*,
*::after,
*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.html{
    font-size: 62.5%;
}

.navbar input[type="checkbox"],
.navbar .hamburger-lines{
    display: none;
}

.container{
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

.navbar{
    box-shadow: 0px 5px 10px 0px #aaa;
    width: 100%;
    background-color: aliceblue !important;
    color: #000;
    z-index: 100;
    position: sticky !important;
    top: 0;
}

.navbar-container{
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
}

.menu-items{
    order: 2;
    display: flex;
}
.logo{
    order: 1;
    font-size: 2.3rem;
}

.menu-items li{
    list-style: none;
    margin-left: 1.5rem;
    font-size: 1.3rem;
}

.navbar a{
    color: #444;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
}

.navbar a:hover{
    color: #117964;
}

@media (max-width: 768px){
    .navbar{
        opacity: 0.95;
    }

    .navbar-container input[type="checkbox"],
    .navbar-container .hamburger-lines{
        display: block;
    }

    .navbar-container{
        display: block;
        position: relative;
        height: 64px;
    }

    .navbar-container input[type="checkbox"]{
        position: absolute;
        display: block;
        height: 32px;
        width: 30px;
        top: 20px;
        left: 20px;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
    }

    .navbar-container .hamburger-lines{
        display: block;
        height: 28px;
        width: 35px;
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .navbar-container .hamburger-lines .line{
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #333;
    }
    
    .navbar-container .hamburger-lines .line1{
        transform-origin: 0% 0%;
        transition: transform 0.3s ease-in-out;
    }

    .navbar-container .hamburger-lines .line2{
        transition: transform 0.2s ease-in-out;
    }

    .navbar-container .hamburger-lines .line3{
        transform-origin: 0% 100%;
        transition: transform 0.3s ease-in-out;
    }

    .navbar .menu-items{
        padding-top: 100px;
        background-color: aliceblue !important;
        height: 100vh;
        max-width: 200px;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        padding-left: 40px;
        transition: transform 0.5s ease-in-out;
        box-shadow:  5px 0px 10px 0px #aaa;
        overflow: scroll;
        text-align: unset !important;
    }






    header {
        background-color: #333;
        color: #000;
        padding: 20px 0;
        text-align: center;
    }
    
    header h1 {
        font-size: 2.5rem;
    }
    
    header p {
        font-size: 1.1rem;
    }
    
    .summary,
    .experience,
    .projects,
    .skills {
        background-color: #fff;
        margin: 20px 0;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    
    .job {
        margin-bottom: 20px;
    }
    
    .job h3 {
        margin-bottom: 10px;
    }
    
    ul {
        list-style-type: disc;
        margin-left: 20px;
    }
    
    footer {
        background-color: #333;
        color: #fff;
        text-align: center;
        padding: 20px 0;
    }
    
    footer p {
        font-size: 0.9rem;
    }

    .navbar .menu-items li{
        margin-bottom: 1.8rem;
        font-size: 1.1rem;
        font-weight: 500;
    }

    .logo{
        position: absolute;
        right: 15px;
        font-size: 1.7rem;
    }

    .navbar-container input[type="checkbox"]:checked ~ .menu-items{
        transform: translateX(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1{
        transform: rotate(45deg);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2{
        transform: scaleY(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3{
        transform: rotate(-45deg);
    }

}

@media (max-width: 500px){
    .navbar-container input[type="checkbox"]:checked ~ .logo{
        display: none;
    }

    header {
        background-color: #333;
        color: #000;
        padding: 20px 0;
        text-align: center;
    }

    .logo{
        position: absolute;
        right: 15px;
        font-size: 1.5rem;
    }
}


.sitehead-color{
    color: darkorange;
}

.card-title{
    color: darkorange !important;
}

.example-headings{
    color: #800000;
}

.hyperlinkpage{
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    padding: 15px 15px 15px 50px;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

.historypage{
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    padding: 15px 15px 15px 50px;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

.biographypage{
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    padding: 15px 15px 15px 50px;
    margin-top: 20px !important;
    margin-bottom: 50px !important;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
li {
    display: inline-block;
    margin-right: 20px;
    position: relative;
}
li a {
    text-decoration: none;
    color: #007bff; 
    position: relative;
}

.underline {
    position: absolute;
    bottom: -2px; 
    left: 0;
    width: 0;
    height: 2px; 
    background-color: #007bff; 
    transition: width 0.3s ease;
}

.highlight {
    color: #0056b3; 
}

  .timeline-event {
    margin-bottom: 30px;
}
.timeline-event .card {
    border: none;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.timeline-event .card-header {
    background-color: darkseagreen; 
    color: #000;
    font-weight: 600;
}
.timeline-event .card-body {
    padding: 20px;
}
.timeline-event .event-year {
    font-size: 1.5rem;
    font-weight: bold;
}


.navbar {
    background-color: #007bff;
    padding: 15px 0;
}
.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hamburger-lines {
    display: none;
    flex-direction: column;
    cursor: pointer;
}
.line {
    width: 30px;
    height: 3px;
    background-color: #000;
    margin: 3px 0;
}
.menu-items {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.menu-items li {
    margin-right: 20px;
}
.menu-items li:last-child {
    margin-right: 0;
}
.menu-items li a {
    color: #000;
    text-decoration: none;
}
.logo {
    color: #000;
    margin: 0;
}

.project{
    text-align: center;
    margin-bottom: 32px;
}